#p3{background-color: brown;}
#p2{background-color: black;}
.p5{background-color: chartreuse;}
#p6{
    background-color: red;
    border: 3px solid blue;
    margin: 50px;
    padding: 15px;
}